<!DOCTYPE html>
<html>
<title>References</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body id="myPage">
    <nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
              <i class="fa fa-remove"></i>
            </a>
        <a href="/quinous" class="w3-bar-item w3-button">Qui sommes nous?</a>
        <a href="/expertise" class="w3-bar-item w3-button">Notre Expertise</a>
        <a href="/nosservices" class="w3-bar-item w3-button">Nos Services</a>
        <a href="/references" class="w3-bar-item w3-button">Nos references</a>
        <a href="contact" class="w3-bar-item w3-button">Contactez-nous</a>
    </nav>
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            <a href="/acceuil" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>SOFT&TRAINING</a>
            <a href="/quinous" class="w3-bar-item w3-button w3-hide-small w3-hover-white ">Qui sommes nous?</a>
            <a href="/expertise " class="w3-bar-item w3-button w3-hide-small w3-hover-white ">Notre Expertise</a>
            <a href="/nosservices " class="w3-bar-item w3-button w3-hide-small w3-hover-white ">Nos Services</a>
            <a href="/references " class="w3-bar-item w3-button w3-hide-small w3-hover-white ">Nos references</a>
            <a href="contact " class="w3-bar-item w3-button w3-hide-small w3-hover-white ">Contactez-nous</a>


            <a href="/acceuil " class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal " title="Search ">Rechercher<i class="fa fa-search "></i></a>
        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo " class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium ">
            <a href="/quinous " class="w3-bar-item w3-button ">Qui sommes nous?</a>
            <a href="/expertise " class="w3-bar-item w3-button ">Notre Expertise</a>
            <a href="/nosservices " class="w3-bar-item w3-button ">Nos Services</a>
            <a href="/contact " class="w3-bar-item w3-button ">Contactez-nous</a>
            <a href="/acceuil" class="w3-bar-item w3-button ">Search</a>
        </div>
    </div>

    <!-- Page content -->
    <div class="w3-content w3-padding" style="max-width:1564px">

        <!-- Section private -->
        <div class="w3-container w3-padding-32" id="projects">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" style="color: rgb(10, 134, 103);">SOFT&TRAINING opère principalement dans le secteur privé et elle a des références à savoir :</h3>
        </div>

        <div class="w3-row-padding">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-black w3-padding">privé</div>
                    <img src="assets/images/sanofi.PNG" style="width:100%;height: 250px;">
                    <h3 style="text-align: center; color: rgb(68, 156, 137);">
                        <b>Societe SANOFI</b><br>AVENTIS TUNISIE
                    </h3>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-black w3-padding">privé</div>
                    <img src="assets/images/saiph.PNG" style="width:100%; height: 250px;">
                    <h3 style="text-align: center; color: rgb(68, 156, 137);">
                        <b>Societe Arabes des Industries Pharmaceutiques </b><br>SAIPH
                    </h3>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <div class="w3-display-container ">
                    <div class="w3-display-topleft w3-black w3-padding ">privé</div>
                    <img src="/assets/images/pf.PNG" style="width:100%;height: 250px; ">
                    <h3 style="text-align: center; color: rgb(68, 156, 137);">
                        <b>Societe Pierre Fabre des médicaments </b><br>AVENTIS TUNISIE
                    </h3>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <div class="w3-display-container ">
                    <div class="w3-display-topleft w3-black w3-padding ">privé</div>
                    <img src="assets/images/adwya.PNG" style="width:100% ;height: 250px;">
                    <h3 style="text-align: center; color: rgb(68, 156, 137);">
                        <b>Societe ADWYA </b><br>Les laboratoires Vitales
                    </h3>
                </div>
            </div>
        </div>

        <div class="w3-row-padding ">
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <div class="w3-display-container ">
                    <div class="w3-display-topleft w3-black w3-padding ">privé</div>
                    <img src="assets/images/staroil.PNG" style="width:100% ;height: 250px; ">
                    <h3 style="text-align: center; color: rgb(68, 156, 137);">
                        <b>Societe STROIL</b>
                    </h3>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <div class="w3-display-container ">
                    <div class="w3-display-topleft w3-black w3-padding ">privé</div>
                    <img src="assets/images/maes.PNG " style="width:100% ;height: 250px; ">
                    <h3 style="text-align: center; color: rgb(68, 156, 137);">
                        <b>Societe Trasport MAES Internationnal</b><br>TMI
                    </h3>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <div class="w3-display-container ">
                    <div class="w3-display-topleft w3-black w3-padding ">privé</div>
                    <img src="assets/images/cmc.PNG" style="width:100% ;height: 250px; ">
                    <h3 style="text-align: center; color: rgb(68, 156, 137);">
                        <b>Compagnie maritimes de consignation</b><br>CMC
                    </h3>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <div class="w3-display-container ">
                    <div class="w3-display-topleft w3-black w3-padding ">privé</div>
                    <img src="assets/images/gti.PNG" style="width:100% ;height: 250px;  ">
                    <h3 style="text-align: center; color: rgb(68, 156, 137);">
                        <b>Societe Generale de Transport Internationnal </b><br>G.T.I
                    </h3>
                </div>
            </div>
        </div>
        <div class="w3-row-padding ">
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <div class="w3-display-container ">
                    <div class="w3-display-topleft w3-black w3-padding ">privé</div>
                    <img src="assets/images/mctc.PNG" style="width:100% ;height: 250px; ">
                    <h3 style="text-align: center; color: rgb(68, 156, 137);">
                        <b>Societe MED Tir</b><br>Groupe MCTC
                    </h3>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <div class="w3-display-container ">
                    <div class="w3-display-topleft w3-black w3-padding ">privé</div>
                    <img src="assets/images/medilog.PNG " style="width:100% ;height: 250px; ">
                    <h3 style="text-align: center; color: rgb(68, 156, 137);">
                        <b>Societe MEDILOG</b>
                    </h3>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <div class="w3-display-container ">
                    <div class="w3-display-topleft w3-black w3-padding ">privé</div>
                    <img src="assets/images/gts.PNG" style="width:100% ;height: 250px; ">
                    <h3 style="text-align: center; color: rgb(68, 156, 137);">
                        <b>Societe Generale des Transport Services</b><br>GTS
                    </h3>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <div class="w3-display-container ">
                    <div class="w3-display-topleft w3-black w3-padding ">privé</div>
                    <img src="assets/images/provital.PNG" style="width:100% ;height: 250px;  ">
                    <h3 style="text-align: center; color: rgb(68, 156, 137);">
                        <b>Societe Provital </b>
                    </h3>
                </div>
            </div>
        </div>
        <div class="w3-row-padding ">
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <div class="w3-display-container ">
                    <div class="w3-display-topleft w3-black w3-padding ">privé</div>
                    <img src="assets/images/gmt.PNG" style="width:100% ;height: 250px; ">
                    <h3 style="text-align: center; color: rgb(68, 156, 137);">
                        <b>Societe les Grands Moulins de Tunis </b><br>GMT
                    </h3>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <div class="w3-display-container ">
                    <div class="w3-display-topleft w3-black w3-padding ">privé</div>
                    <img src="assets/images/socoges.PNG " style="width:100% ;height: 250px; ">
                    <h3 style="text-align: center; color: rgb(68, 156, 137);">
                        <b>Societe SOCOGES</b><br>DELICE DANONE
                    </h3>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <div class="w3-display-container ">
                    <div class="w3-display-topleft w3-black w3-padding ">privé</div>
                    <img src="assets/images/roseblanche.PNG" style="width:100% ;height: 250px; ">
                    <h3 style="text-align: center; color: rgb(68, 156, 137);">
                        <b>Societe Trans Food</b><br>Group la rose blanche
                    </h3>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <div class="w3-display-container ">
                    <div class="w3-display-topleft w3-black w3-padding ">privé</div>
                    <img src="assets/images/c.PNG" style="width:100% ;height: 250px;  ">
                    <h3 style="text-align: center; color: rgb(68, 156, 137);">
                        <b>Societe Mega transort </b><br>Groupe Carrelage Chaieb
                    </h3>
                </div>
            </div>
        </div>
        <div class="w3-row-padding ">
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <div class="w3-display-container ">
                    <div class="w3-display-topleft w3-black w3-padding ">privé</div>
                    <img src="assets/images/lld.PNG" style="width:100% ;height: 250px; ">
                    <h3 style="text-align: center; color: rgb(68, 156, 137);">
                        <b>Societe Tunisie LLd </b><br>GMT
                    </h3>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <div class="w3-display-container ">
                    <div class="w3-display-topleft w3-black w3-padding ">privé</div>
                    <img src="assets/images/sft.PNG " style="width:100% ;height: 250px; ">
                    <h3 style="text-align: center; color: rgb(68, 156, 137);">
                        <b>Societe de Transport Fathallah</b>
                    </h3>
                </div>
            </div>

        </div>
        <!-- Section public -->
        <div class="w3-container w3-padding-32" id="projects">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" style="color: rgb(10, 134, 103);">SOFT&TRAINING a des références dans le secteur public dont :</h3>
        </div>
        <div class="w3-row-padding ">
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <div class="w3-display-container ">
                    <div class="w3-display-topleft w3-black w3-padding ">publique</div>
                    <img src="assets/images/steg.PNG" style="width:100% ;height: 250px; ">
                    <h3 style="text-align: center; color: rgb(68, 156, 137);">
                        <b>STEG</b>
                    </h3>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <div class="w3-display-container ">
                    <div class="w3-display-topleft w3-black w3-padding ">publique</div>
                    <img src="assets/images/sonede.PNG " style="width:100% ;height: 250px; ">
                    <h3 style="text-align: center; color: rgb(68, 156, 137);">
                        <b>SONEDE</b>
                    </h3>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <div class="w3-display-container ">
                    <div class="w3-display-topleft w3-black w3-padding ">publique</div>
                    <img src="assets/images/tt.PNG " style="width:100% ;height: 250px; ">
                    <h3 style="text-align: center; color: rgb(68, 156, 137);">
                        <b>Tunisie Telecom</b>
                    </h3>
                </div>
            </div>

        </div>
        <!-- actualite Section -->
        <div class="w3-container w3-padding-32 " id="about ">
            <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16 " style="color: rgb(68, 156, 137);">
                <b>Nos actualités</b></h1>
            <h3><b>POUR ÊTRE TOUJOURS À LA POINTE DE L’INFORMATION, C’EST ICI !</b></h3>
            <p>Soft&Training propulse ses actus à la une pour vous inscrire dans une démarche de performance en trouvant en un clin d’œil les solutions qui vous permettront d’optimiser votre organisation et vos systèmes, accélérer votre développement et
                mettre en œuvre vos projets.<br> Notre propre histoire est faite de femmes et d’hommes qui participent à notre quotidien et contribuent à notre agilité.<br> Au fil des mois, nous évoquerons nos success-stories avec nos clients, nos partenaires
                et nos collaborateurs et partagerons des articles de fond pour vous informer sur les dernières innovations et règlementations.<br> Vous nous connaîtrez davantage et nous serons tous plus efficaces pour collaborer sur les réponses à apporter
                à vos problématiques et vos besoins.
            </p>
        </div>

        <div class="w3-row-padding w3-grayscale ">
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <img src="assets/images/act1.jpg " style="width:100% ">
                <h1>
                    <b>DIGITALISATION DES SYSTÈMES D’INFORMATION:</b></h1>
                <p class="w3-opacity ">AVEC OU SANS DSI ? </p>
                <p>VOUS LE SAVEZ, LA DSI EST UN POSTE CLÉ DANS LA GESTION ET LE PILOTAGE DU SYSTÈME D’INFORMATION DE L'ENTREPRISE... BEAUCOUP PENSENT QUE LE SI SE LIMITE AU PARC INFORMATIQUE.

                </p>
                <p><button class="w3-button w3-light-grey w3-block ">lire plus ..</button></p>
            </div>


            <div class="w3-col l3 m6 w3-margin-bottom ">
                <img src="assets/images/act2.jpg " style="width:100% ">
                <h1>
                    <b>OPTIMISER VOTRE PRODUCTIVITÉ AVEC L’ERP SYTELINE
                    </b></h1>

                <p>INITIALEMENT CRÉÉ POUR LE SECTEUR DE PIÈCE AUTOMOBILE, L’ERP SYTELINE EST UNE SOLUTION DE GESTION INTÉGRÉE, ÉDITÉE PAR INFOR.

                </p>
                <p><button class="w3-button w3-light-grey w3-block ">Lire plus ...</button></p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <img src="assets/images/act3.jpg " style="width:100% ">
                <h1>
                    <b>EN 2021, FAITES LE CHOIX D’UNE BASE CRM CONNECTÉES AVEC DIVALTO

                    </b></h1>
                <p>SI NOUS DEVIONS SIMPLEMENT POSER LA DÉFINITION DU CRM, NOUS ORIENTERIONS CET ARTICLE EN EXPLIQUANT QUE LE CRM (CUSTOMER RELATIONSHIP MANAGEMENT) EST UN OUTIL DE GESTION DE LA RELATION CLIENT.

                </p>
                <p><button class="w3-button w3-light-grey w3-block ">Lire Plus....</button></p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom ">
                <img src="assets/images/act4.jpg " alt="Dan " style="width:100% ">
                <h1>
                    <b>COMMENT BIEN CHOISIR SA SOLUTION DE BUSINESS INTELLIGENCE ?</b></h1>
                <p>IL EST IMPORTANT POUR LES ENTREPRISES DE S’ÉQUIPER D’UNE SOLUTION CAPABLE D’EXPLOITER PLEINEMENT ET SIMPLEMENT LA PUISSANCE DES DONNÉES. MAIS COMMENT CHOISIR UNE SOLUTION DE BI ADAPTÉE ? QUELS CRITÈRES PRENDRE EN COMPTE POUR ÊTRE SÛR D’OPTER
                    POUR L’OFFRE DE DÉCISIONNEL QUI CORRESPOND LE MIEUX À VOS ATTENTES ?</p>
                <p><button class="w3-button w3-light-grey w3-block ">Lire plus ....</button></p>
            </div>
        </div>


    </div>


    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-theme-d1 w3-center ">
        <h4>Follow Us</h4>
        <a class="w3-button w3-large w3-teal " href="javascript:void(0) " title="Facebook "><i class="fa fa-facebook "></i></a>
        <a class="w3-button w3-large w3-teal " href="javascript:void(0) " title="Twitter "><i class="fa fa-twitter "></i></a>
        <a class="w3-button w3-large w3-teal " href="javascript:void(0) " title="Google + "><i class="fa fa-google-plus "></i></a>
        <a class="w3-button w3-large w3-teal " href="javascript:void(0) " title="Google + "><i class="fa fa-instagram "></i></a>
        <a class="w3-button w3-large w3-teal w3-hide-small " href="javascript:void(0) " title="Linkedin "><i class="fa fa-linkedin "></i></a>
        <p>Powered by
            <a href="/acceuil " target="_blank ">Soft&Training</a>
        </p>

        <div style="position:relative;bottom:100px;z-index:1; " class="w3-tooltip w3-right ">
            <span class="w3-text w3-padding w3-teal w3-hide-small ">Go To Top</span>
            <a class="w3-button w3-theme " href="/acceuil "><span class="w3-xlarge ">
    <i class="fa fa-chevron-circle-up "></i></span></a>
        </div>
    </footer>
</body>

</html>