<!DOCTYPE html>
<html>


<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body id="myPage">
    <nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
          <i class="fa fa-remove"></i>
        </a>
        <a href="/quinous" class="w3-bar-item w3-button">Qui sommes nous?</a>
        <a href="/expertise" class="w3-bar-item w3-button">Notre Expertise</a>
        <a href="/nosservices" class="w3-bar-item w3-button">Nos Services</a>
        <a href="/references" class="w3-bar-item w3-button">Nos references</a>
        <a href="contact" class="w3-bar-item w3-button">Contactez-nous</a>
    </nav>
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            <a href="/acceuil" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>SOFT&TRAINING</a>
            <a href="/quinous" class="w3-bar-item w3-button w3-hide-small w3-hover-white ">Qui sommes nous?</a>
            <a href="/expertise " class="w3-bar-item w3-button w3-hide-small w3-hover-white ">Notre Expertise</a>
            <a href="/nosservices " class="w3-bar-item w3-button w3-hide-small w3-hover-white ">Nos Services</a>
            <a href="/references " class="w3-bar-item w3-button w3-hide-small w3-hover-white ">Nos references</a>
            <a href="contact " class="w3-bar-item w3-button w3-hide-small w3-hover-white ">Contactez-nous</a>


            <a href="/acceuil " class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal " title="Search ">Rechercher<i class="fa fa-search "></i></a>
        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo " class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium ">
            <a href="/quinous " class="w3-bar-item w3-button ">Qui sommes nous?</a>
            <a href="/expertise " class="w3-bar-item w3-button ">Notre Expertise</a>
            <a href="/nosservices " class="w3-bar-item w3-button ">Nos Services</a>
            <a href="/contact " class="w3-bar-item w3-button ">Contactez-nous</a>
            <a href="/acceuil" class="w3-bar-item w3-button ">Search</a>
        </div>
    </div>

    <div class="w3-display-container" style="margin-bottom:20px">
        <img src="assets/images/expertise2.png" style="width:100%">
        <div class="w3-display-bottomleft w3-container  w3-hover-grey w3-hide-small" style="bottom:10%;opacity:0.7;width:70%">
            <h2><b>Notre Expertise<br>Vous apporter
                des solutions
                pour booster
                votre organisation...</b></h2>
        </div>
    </div>

    <div class="w3-row w3-container" style="margin:50px 0">
        <div class="w3-half w3-container">
            <div class="w3-topbar w3-border-amber">
                <img src="assets/images/conseil.jpg" style="width:100%">
                <h1 style="color: rgb(32, 167, 155);">
                    <b>CONSEIL</b></h1>
                <h2 style="color: rgb(44, 102, 97);">Audit et preconisation</h2>
                <p>
                    <b>DÉFINITION DES BESOINS Difficile:</b> <br> pour une entreprise d’optimiser seule son système d’information. Notre activité consiste à mettre en place des outils d’analyse en parfaite adéquation avec vos besoins.</p>

                <p>
                    <b>Notre méthode :</b>
                    <br> L’analyse des besoins de votre entreprise est parfois en opposition avec les impératifs techniques. Notre souci est de rechercher le meilleur compromis entre le «désir et la réalité».<br>* Traduction de leurs attentes.
                    <br>* Réalisation d’un schéma directeur.<br>* Conception d’un planning. <br>* Rédaction d’un cahier des charges.</p>

                <p>
                    <b>ANALYSE DES PROBLÉMATIQUES
                        :</b>
                    <br> L’analyse des besoins de votre entreprise est parfois en opposition avec les impératifs techniques. <br>Notre souci est de rechercher le meilleur compromis entre le «désir et la réalité»</p>


                <p>
                    <b>CONSEIL ET SOLUTIONS
                            :</b>

                    <br>Soft&Training vous accompagne dans le développement, la maintenance et l’évolution de votre stratégie informatique. Nos collaborateurs sont choisis en fonction de leur expérience, de leur proximité avec votre secteur d’activité.</p>

                <b style="color: rgb(20, 21, 22);">Soft&Training cherche toujours à offrir une solution en phase avec votre fonctionnement interne qui vous permettra de valoriser votre image sur votre marché et vos concurrents. En effet, si le produit n’est pas admis ni compris par chaque acteur, les
                    objectifs de la direction sont très rarement atteints.</b>
                <h2 style="color: rgb(44, 102, 97);">Maitrise d'oeuvre:</h2>
                <p>
                    <b>GESTION DU SYSTÈME D’INFORMATION:</b>Le rôle de Soft&Training est de faire gagner du temps à votre entreprise.

                </p>
                <p>
                    <b>Ses mots d’ordre :
                    </b>* Réactivité. <br>* Disponibilité. <br>* Réaction.
                </p>
                <p><b>MÉTHODOLOGIE:</b>La formation de vos équipes est essentielle au bon fonctionnement de votre système d’information. C’est pourquoi, chacune de nos formations est personnalisée.<br> Nous adaptons nos actions et nos intervenants à la réalité
                    de votre métier.</p>
                <p><b>ACTEURS DE VOTRE SYSTÈME D’INFORMATION:</b>Vos collaborateurs accèdent simplement et sereinement aux nouvelles technologies.<br>Soft&Training s’engage à rester proche de votre entreprise tout en vous en laissant les rênes.<br> Vos projets
                    informatiques sont de plus en complexes et nécessitent des intervenants de plus en plus nombreux </p>
                <p><b>Notre axe :</b>* Veiller au déroulement. <br>* Observer les délais.<br>* Assurer la transition et le passage de relais des informations.</p>
            </div>
            .</div>




        <div class=" w3-half w3-container ">
            <div class="w3-topbar w3-border-amber ">
                <img src="assets/images/integration1.jpg " style="width:100% ">
                <h1 style="color: rgb(32, 167, 155);">
                    <b>INTEGRATION:</b></h1>
                <h2 style="color: rgb(44, 102, 97);">Solutions ERP</h2>
                <p>Cet ERP, agile en environnement international, dispose d’un moteur de planification avancé qui séduit les industriels. Associé à l’ensemble des progiciels Infor, Infor CloudSuite est le compagnon idéal d’une entrprise en mouvement.</p>
                <p><b>Cette solution complète intègre les outils nécessaires à la gestion :
                </b>* Des ventes et de la relation client.
                    <br>* De la production.<br>* De la chaîne logistique.
                    <br>* Des stocks.
                    <br>* Des opérations financières.
                    <br>* Des services.
                    <br>* De la qualité.
                </p>
                <p>Développé par des experts dans le domaine de la fabrication de produits complexes, Infor SyteLine bénéficie de plus de 25 ans d’expérience de l’industrie. Infor met à votre disposition les outils dont vous avez besoin – et vous permet
                    de bénéficier du support d’une équipe expérimentée. Infor SyteLine vous procure une grande visibilité sur l’ensemble de vos activités – de l’approvisionnement à la vente en passant par la production et vous aide à automatiser ainsi
                    qu’à gérer vos processus métier essentiels.</p>

                <h2 style="color: rgb(44, 102, 97);">Solution Décisionnelle:
                </h2>

                <p><b>De l’entrepôt de données à la création de tableaux sous Excel et pour le web, MyReport est une suite logicielle modulaire qui se positionne comme la solution alternative aux offres des grands acteurs du marché.</b></p>
                <h2 style="color: rgb(44, 102, 97);">Solution de mobilité</h2>
                <h2 style="color: rgb(44, 102, 97);">Technique</h2>
                <p><b>SYSTÈME:</b>Les audits d’infrastructure permettent de valider et de corriger les différentes implémentations du réseau.<br>Soft&Training est soucieuse de rendre disponible vos systèmes d’information en fonction des performances prévues.</p>
                <p><b>INFOGÉRANCE & HEBERGEMENT:</b>Soft&Trainig assiste ou assure votre Direction des systèmes d’information, supervise et administre tout ou partie de vos serveurs.<br> formatique n’est pas le coeur de votre métier ? Notre société se charge
                    de cette de cette mission et de ses fonctions associées.</p>
            </div>
        </div>

    </div>
    <div class="w3-row w3-container " style="margin:50px 0 ">
        <div class="w3-half w3-container ">
            <div class="w3-topbar w3-border-orange ">
                <img src="assets/images/S.jpg " style="width:100% ">
                <h1 style="color: rgb(32, 167, 155);">
                    <b>SERVICES:</b></h1>
                <h2 style="color: rgb(44, 102, 97);">Mise en oeuvre de vos projets:</h2>
                <p><b>Les services Soft&Training ont pour vocation d’aider votre société à :</b><br>* Réduire les coûts de possession de vos solutions.<br>* Se concentrer sur les initiatives stratégiques.<br>* Maximiser la disponibilité de vos systèmes.
                    <br>* Réduire les risques.<br>* Raccourcir les délais de mise en œuvre des projets.<br>* S’adapter à l’évolution rapide des priorités.</p>
                <p><b>Mode de Déploiement Standard:</b>La mise en œuvre se cale sur des fonctionnalités standard et éprouvées de votre secteur d’activité. <br>Garantie du meilleur budget et du plus court délais, pour démarrer vite et bien.</p>
                <p><b>Mode de Déploiement Projet:</b>La solution déployée est basée sur une solution standard, adaptée et personnalisée pour correspondre aux besoins très particuliers de votre activité.<br> C’est la garantie d’une parfaite adéquation avec
                    vos exigences et d’un rapide retour sur investissement. <br>Nos modes de déploiement reposent sur un principe du transfert de compétences. Il vise à accompagner les utilisateurs clés graduellement vers une entière maîtrise de votre
                    nouveau système d’informations.</p>
                <h2 style="color: rgb(44, 102, 97);">Personnalisation :

                </h2>
                <p><b>Mode de Déploiement Standard :</b>
                    <br>* Définition d’un cahier des charges précis et adéquat
                    <br>* Traduction par nos développeurs de vos besoins
                    <br>* Test au sein de votre système d’information</p>
                <p><b>Notre quotidien :</b>
                    <br>* Assurer un contact régulier avec les opérateurs de l’entreprise.
                    <br>* Créer une interface informatique simple.
                    <br>* Veiller à la satisfaction du client au fur et à mesure de l’avancement des travaux.
                </p>

                <h2 style="color: rgb(44, 102, 97);">SUPPORT :</h2>
                <p><b>En complément de notre service de support au travers de notre service Hot Line, Soft&Training vous propose des solutions d’Assistance Complémentaire
                    et de Tierce Maintenance Applicative.</b></p>
                <p><b>Le métier de la gestion de l’information est de plus en plus complexe, Soft&Training offre plusieurs méthodes d’assistance.</b></p>
                <p><b>Il ne suffit pas de maintenir “en vie” votre système d’information, il faut le faire évoluer au même rythme que l’entreprise.Soft&Training épaule votre Direction des Services informatiques ou effectue une mission de transition opérationnelle.</b></p>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-theme-d1 w3-center ">
        <h4>Follow Us</h4>
        <a class="w3-button w3-large w3-teal " href="javascript:void(0) " title="Facebook "><i class="fa fa-facebook "></i></a>
        <a class="w3-button w3-large w3-teal " href="javascript:void(0) " title="Twitter "><i class="fa fa-twitter "></i></a>
        <a class="w3-button w3-large w3-teal " href="javascript:void(0) " title="Google + "><i class="fa fa-google-plus "></i></a>
        <a class="w3-button w3-large w3-teal " href="javascript:void(0) " title="Google + "><i class="fa fa-instagram "></i></a>
        <a class="w3-button w3-large w3-teal w3-hide-small " href="javascript:void(0) " title="Linkedin "><i class="fa fa-linkedin "></i></a>
        <p>Powered by
            <a href="/acceuil " target="_blank ">Soft&Training</a>
        </p>

        <div style="position:relative;bottom:100px;z-index:1; " class="w3-tooltip w3-right ">
            <span class="w3-text w3-padding w3-teal w3-hide-small ">Go To Top</span>
            <a class="w3-button w3-theme " href="/acceuil "><span class="w3-xlarge ">
<i class="fa fa-chevron-circle-up "></i></span></a>
        </div>
    </footer>
</body>


</html>